/*con 시작*/

.main_section > .con {
    padding: 5rem;
}

.main_section > .con > .con_bigbox {
    width: 100%;
    background-color: #fff;
    padding: 2rem 0;
}

.main_section > .con > .con_bigbox > .con_title {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.main_section > .con > .con_bigbox > .con_title h2 {
    font-size: 1.4rem;
    padding: 0.2rem 0;
}

.main_section > .con > .con_bigbox > .con_pix {
    width: 70%;
    margin: 0 auto;
    padding: 0.2rem;
    border: 1px solid #f2f2f2;
    position: relative;
}

.main_section > .con > .con_bigbox > .con_pix > img {
    width: 100%;
    display: block;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box {
    position: absolute;
    width: 100%;
    bottom: 20%;
    text-align: center;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    animation: animationName 3s 0s infinite ease-in alternate;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(2) {
    animation-delay: 0.2s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(3) {
    animation-delay: 0.3s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(4) {
    animation-delay: 0.4s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(5) {
    animation-delay: 0.5s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(6) {
    animation-delay: 0.6s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(7) {
    animation-delay: 0.7s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(8) {
    animation-delay: 0.8s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(9) {
    animation-delay: 0.9s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(10) {
    animation-delay: 1s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(11) {
    animation-delay: 1.1s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(12) {
    animation-delay: 1.2s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(13) {
    animation-delay: 1.3s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(14) {
    animation-delay: 1.4s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(15) {
    animation-delay: 1.5s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:nth-child(16) {
    animation-delay: 1.6s;
}

.main_section > .con > .con_bigbox > .con_pix > .t-box > .box:hover {
    animation-play-state: paused;
}

@keyframes animationName {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.main_section > .con > .con_bigbox > .contents {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
    padding-bottom: 5rem;
    border-bottom: 1px solid #dfdfdf;
}

.main_section > .con > .con_bigbox > .contents h6 {
    text-align: center;
    color: #3c3c3c;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.main_section > .con > .con_bigbox > .contents > p {
    text-align: justify;
    font-size: 0.7rem;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.2rem;
}

.main_section > .con > .con_bigbox > .contents > .c-item-box {
    width: 100%;
    display: flex;
    padding-top: 1rem;
}

.main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item {
    width: 33.3333%;
    margin-top: 2rem;
    margin: 0.2rem;
}

.main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item > .c-img {
    padding: 0.2rem;
    border: 1px solid #dfdfdf;

}

.main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item img {
    width: 100%;
    display: block;
}

.main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item > .c-con {
    margin: 0.2rem;
}

.main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item > .c-con > a {
    display: block;
}

.main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item > .c-con > a:hover p {
    color: #FF6F61;
}

.main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item > .c-con p {
    font-size: 0.5rem;
    color: #3c3c3c;
}

.main_section > .con > .con_bigbox > h1 {
    color: #3c3c3c;
    text-align: right;
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 4rem 0;
}


/*con 반응형*/

@media(max-width:1200px) {
    .main_section > .con {
        width: 100%;
        box-sizing: border-box;
    }

    .main_section > .con > .con_bigbox > .contents,
    .main_section > .con > .con_bigbox > .con_title,
    .main_section > .con > .con_bigbox > .con_pix {
        width: 75%;
    }

    .main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item {
        padding: 0.5rem;
    }

    .main_section > .con > .con_bigbox > .con_pix > .t-box > .box {
        font-size: 1.5rem;
    }
}

@media(max-width:800px) {
    .main_section > .con {
        padding: 3rem;
    }

    .main_section > .con > .con_bigbox > .con_title h2 {
        font-size: 1.2rem;
    }

    .main_section > .con > .con_bigbox > .con_pix > .t-box > .box {
        font-size: 1.2rem;
    }
}

@media(max-width:420px) {
    .main_section > .con {
        padding: 2rem;
    }

    .main_section > .con > .con_bigbox > .contents,
    .main_section > .con > .con_bigbox > .con_title {
        width: 80%;
    }

    .main_section > .con > .con_bigbox > .con_pix {
        width: 85%;
    }

    .main_section > .con > .con_bigbox > .contents > .c-item-box {
        display: block;
    }

    .main_section > .con > .con_bigbox > .contents > .c-item-box > .c-item {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
}
