/*con 시작*/
.main_section > .con {
    padding: 5rem 10rem;
}

.main_section > .con > .con_bigbox {
    width: 100%;
    background-color: #fff;
    padding: 2rem 0;
}

.main_section > .con > .con_bigbox > .con_title {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.main_section > .con > .con_bigbox > .con_title h2 {
    font-size: 1.5rem;
    padding: 0.2rem 0;
}

.main_section > .con > .con_bigbox > .con_title h4 {
    font-size: 1.1rem;
    padding: 0.2rem 0;
    color: #3c3c3c;
}

.main_section > .con > .con_bigbox > .con_pix {
    width: 60%;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid #f2f2f2;
    position: relative;
}

.main_section > .con > .con_bigbox > .con_pix > a {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    transition: 2s;
}

.main_section > .con > .con_bigbox > .con_pix > a > img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.main_section > .con > .con_bigbox > .con_pix > a > .goto-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    color: #fff;
}

.main_section > .con > .con_bigbox > .con_pix > a > .goto-box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

.main_section > .con > .con_bigbox > .con_pix > a:hover img {
    transform: scale(1.1);
    transition: 2s;
}

.main_section > .con > .con_bigbox > .con_pix > a:hover > .goto-box {
    opacity: 1;
    transition: 2s;
}

.main_section > .con > .con_bigbox > .contents {
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0 1rem 0;
    padding-bottom: 5rem;
    display: flex;
    border-bottom: 1px solid #dfdfdf;
}

.main_section > .con > .con_bigbox > .contents > div {
    padding: 1rem 0.5rem;
}

.main_section > .con > .con_bigbox > .contents > div:nth-child(1) {
    width: 40%;
}

.main_section > .con > .con_bigbox > .contents > div:nth-child(2) {
    width: 60%;
    position: relative;
}

.main_section > .con > .con_bigbox > .contents > div a {
    width: 100%;
    display: block;
}

.main_section > .con > .con_bigbox > .contents > div img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.main_section > .con > .con_bigbox > .contents.c-2 > div img {
    width: 85%;
}

.main_section > .con > .con_bigbox > .contents > div h6 {
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.main_section > .con > .con_bigbox > .contents > div p {
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.5rem;
}

.main_section > .con > .con_bigbox > .contents > div > .goto-box2 {
    width: 100px;
    height: 35px;
    padding: 0.35rem;
    text-align: center;
    background-color: #3c3c3c;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 2%;
}

.main_section > .con > .con_bigbox > .contents > div > .goto-box2:hover {
    background-color: #FF6F61;
    transition: 1s;
}

.main_section > .con > .con_bigbox > .contents > div > .goto-box2 a {
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    line-height: 25px;
}

.main_section > .con > .con_bigbox > h1 {
    color: #3c3c3c;
    text-align: right;
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 4rem 0;
}

/*con 반응형*/

@media(max-width:1685px) {
    .main_section > .con {
        padding: 5rem;
    }

    .main_section > .con > .con_bigbox > .con_title {
        width: 70%;
    }

    .main_section > .con > .con_bigbox > .con_pix {
        width: 70%;
    }

    .main_section > .con > .con_bigbox > .contents {
        width: 70%;
    }

    .main_section > .con > .con_bigbox > h1 {
        width: 70%;
    }
    
    .main_section > .con > .con_bigbox > .contents > div > .goto-box2 {
        bottom: -15%;
    }
}

@media(max-width:1200px) {
    .main_section > .con {
        width: 100%;
        padding: 6rem;
    }

    .main_section > .con > .con_bigbox > .contents,
    .main_section > .con > .con_bigbox > .con_title,
    .main_section > .con > .con_bigbox > .con_pix,
    .main_section > .con > .con_bigbox > h1 {
        width: 75%;
    }
    .main_section > .con > .con_bigbox > .contents > div h6 {
        font-size: 1rem;
    }

    
}

@media(max-width:800px) {
    .main_section > .con {
        padding: 3rem;
    }

    .main_section > .con > .con_bigbox > .contents > div:nth-child(1) {
        width: 50%;
    }

    .main_section > .con > .con_bigbox > .contents > div:nth-child(2) {
        width: 50%;
    }

    .main_section > .con > .con_bigbox > .con_title h2 {
        font-size: 1.2rem;
    }

    .main_section > .con > .con_bigbox > .con_title h4 {
        font-size: 1rem;
    }

    .main_section > .con > .con_bigbox > .contents {
        display: block;
    }

    .main_section > .con > .con_bigbox > .contents > div:nth-child(1) {
        width: 50%;
        margin: 0 auto;
    }

    .main_section > .con > .con_bigbox > .contents > div:nth-child(2) {
        width: 100%;
    }
    .main_section > .con > .con_bigbox > .contents > div > .goto-box2 {
        left: 50%;
        right: 0;
        bottom: -25%;
        transform: translateX(-50%);
    }
}

@media(max-width:420px) {
    .main_section > .con {
        padding: 2rem;
    }

    .main_section > .con > .con_bigbox > .contents {
        display: block;
    }

    .main_section > .con > .con_bigbox > .con_title {
        width: 80%;
    }
    
    .main_section > .con > .con_bigbox > .con_title h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .main_section > .con > .con_bigbox > .con_pix {
        width: 85%;
        padding: 0.2rem;
    }

    .main_section > .con > .con_bigbox > .contents > div:nth-child(1) {
        width: 100%;
    }

    .main_section > .con > .con_bigbox > .contents > div:nth-child(2) {
        width: 100%;
    }
    .main_section > .con > .con_bigbox > .contents > div > .goto-box2 {
        bottom: -12%;
    }
    .main_section > .con > .con_bigbox > .contents h6 {
        font-weight: 700;
    }
}
