body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

html,
body {
    overflow-x: hidden;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    box-sizing: border-box;
}

input {
    appearance: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/*노멀라이징*/


/*라이브러리 시작*/

.con {
    max-width: 1920px;
    margin: 0 auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.row > .cell {
    float: left;
    box-sizing: border-box;
    width: 100%;
}

.img-box > img {
    width: 100%;
    display: block;
}

/*반응형 이미지 라이브러리 시작*/

.row > .cell-md-1-4 {
    width: 25%;
}

.row > .cell-md-2-4 {
    width: 50%;
}

@media (max-width:1000px) {
    .row > .cell-sm-1-4 {
        width: 25%;
    }

    .row > .cell-sm-2-4 {
        width: 50%;
    }
}

@media (max-width:700px) {
    .row > .cell-xs-1-2 {
        width: 50%;
    }

    .row > .cell-xs-2-2 {
        width: 100%;
    }
}

/*
.row.cell-spacing-md-30 {
    margin-left: -15px;
    margin-right: -15px;
}
.row.cell-spacing-md-30 > .cell {
    padding-left: 15px;
    padding-right: 15px;
}
*/

.visible-only-md,
.visible-only-sm,
.visible-only-xs {
    display: none !important;
}

@media (min-width:1001px) {
    .visible-only-md {
        display: block !important;
    }
}

@media (max-width:1000px) and (min-width:701px) {
    .visible-only-sm {
        display: block !important;
    }
}

@media (max-width:700px) {
    .visible-only-xs {
        display: block !important;
    }
}

/*라이브러리 끝*/

/*커스텀 시작*/

/*topmenu 시작*/

.topmenu {
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    z-index: 9;
}

.topmenu > .top_m {
    position: fixed;
    top: 0;
    right: 80px;
    color: #fff;
    padding: 0.5rem;
}

.topmenu > .top_m > ul > li {
    display: inline-block;
}

.topmenu > .top_m > ul > li > a {
    display: block;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1.1rem;
}

.topmenu > .icon_m {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 40px;
}

.topmenu > .icon_m > div {
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    margin: 4px auto;
}

.topmenu > .icon_m:hover > div {
    cursor: pointer;
}

/*topmenu 끝*/

/*메인슬라이더 시작*/

.slider-u {
    user-select: none;
    position: relative;
}

.slider-u::after {
    content: "";
    display: block;
    padding-bottom: 66.6666%;
}

@media (max-width:1000px) and (min-width:701px) {
    .slider-u::after {
        content: "";
        display: block;
        padding-bottom: 65%;
    }
}

@media (max-width:700px) {
    .slider-u::after {
        content: "";
        display: block;
        padding-bottom: 141.6666%;
    }
}

.slider-u > .slides {
    width: 100%;
    top: 0;
    left: 0;
}

.slider-u > .slides > div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.slider-u > .slides > div > img {
    width: 100%;
    display: block;
}

.slider-u > .page-nav {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 100%;
}

.slider-u > .page-nav > div {
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background 0.2s;
}

.slider-u > .page-nav > div:hover,
.slider-u > .page-nav > div.active {
    background-color: rgba(255, 255, 255, 1);
}

.list-1 .logo {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

/*메인슬라이더 끝*/

.list-2 {
    width: 100%;
    position: relative;
    user-select: none;
}

.text-box {
    width: 50%;
    max-width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.text-box .icon-box::after {
    content: "";
    display: block;
    clear: both;
}

.text-box .icon-box > div {
    float: left;
    width: 20%;
    position: relative;
}

.text-box .icon-box > div::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.text-box .icon-box > div > section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.text-box .icon-box > div > section > img {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.text-box .icon-box > div > section > img:hover {
    cursor: pointer;
}

.text-box .icon-box > div > section > div {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.text-box .icon-box > div > section > div > i {
    font-size: 2rem;
}

.text-box .icon-box > div > section > div:hover > a {
    color: #dadf00;
    cursor: pointer;
}

.text-box .icon-box > div > section > div:hover > i {
    color: #dadf00;
}

.text-box .icon-box > div > section > div > a {
    padding: 10px;
    display: block;
}

.text-box .icon-box > div > section > img:nth-of-type(2) {
    display: none;
}

.text-box .icon-box > div > section:hover > img:nth-of-type(2) {
    display: block;
}

.text-box .icon-box > div > section:hover > p {
    color: #dadf00;
    font-family: 'Noto Sans KR', sans-serif;
}



.text-box .icon-box > div:last-child > section::after {
    display: none;
}

.text-box .icon-box > div:nth-child(3) > section > img,
.text-box .icon-box > div:nth-child(4) > section > img,
.text-box .icon-box > div:nth-child(5) > section > img {
    padding-left: 20%;
    padding-right: 20%;
}

.text-box .icon-box > div:nth-child(1) > section > img,
.text-box .icon-box > div:nth-child(2) > section > img {
    padding-left: 30%;
    padding-right: 30%;
}

.text-box .icon-box > div > section > p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-box .p-box {
    color: #fff;
    padding: 50px;
}

@media (max-width:1400px) and (min-width:1001px) {
    .text-box {
        width: 70%;
    }
}

@media (max-width:1000px) and (min-width:701px) {
    .text-box {
        width: 85%;
    }

    .text-box .p-box {
        padding: 30px;
    }
}

@media (max-width:700px) {
    .text-box {
        width: 90%;
    }

    .text-box .icon-box > div {
        width: 33.3333%;
    }

    .text-box .icon-box > div > section > p {
        display: none;
    }

    .text-box .icon-box > div > section::after {
        display: none;
    }

    .text-box .icon-box > div > section:last-child > div {
        display: block;
    }

    .text-box .p-box {
        padding: 40px;
    }
}

@media (max-width:400px) {
    .text-box .p-box {
        padding: 10px;
    }
}

/*list-2 끝*/

/*list-3 시작*/

.list-3 {
    width: 100%;
    position: relative;
    user-select: none;
}

.list-3 .list3-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


.list3-box .form-box {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 1%;
}

.form-box > form {
    display: block;
}

.form-box > form > div > span {
    float: left;
    color: #fff;
    padding: 1rem;
}

.form-box > form > div > div > .textarea {
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.form-box > form > div > div {
    margin-left: 100px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.form-box > form > div > div > *:first-child {
    width: 60%;
    padding: 1rem;
}


.form-box > form > div:nth-of-type(4) > div > *:first-child {
    padding: 6rem 1.1rem;
}

.form-box > form > div:nth-of-type(5) > div > *:first-child {
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.form-box > form > div > div > *:first-child:focus {
    outline-color: #dadf00;
}

.form-box > form > div:nth-of-type(5) > div > *:first-child:hover {
    background-color: #dadf00;
    cursor: pointer;
}

@media (max-width:1400px) and (min-width:1001px) {

    .list3-box .form-box {
        width: 70%;
        padding: 1% 4%;
    }

    .form-box > form > div > div > *:first-child {
        width: 60%;
    }
}

@media (max-width:1001px) and (min-width:701px) {

    .list3-box .form-box {
        width: 80%;
        padding: 1% 4%;
    }

    .form-box > form > div > div > *:first-child {
        width: 70%;
        padding: 0.8rem;
    }

    .form-box > form > div:nth-of-type(4) > div > *:first-child {
        padding: 5rem 0.9rem;
    }
}

@media (max-width:700px) {

    .list3-box .form-box {
        width: 100%;
        padding: 0 10%;
    }

    .form-box > form > div > div > *:first-child {
        width: 90%;
        padding: 0.8rem;
    }

    .form-box > form > div:nth-of-type(4) > div > *:first-child {
        padding: 5rem 0.9rem;
    }

    .form-box > form > div > span {
        float: none;
        display: block;
        padding: 0.5rem 0.2rem;
    }

    .form-box > form > div > div {
        margin-left: 0;
    }

    .form-box > form > div > div {
        margin-bottom: 3px;
    }
}

@media (max-width:400px) {
    .list3-box .form-box {
        padding: 0 7%;
    }

    .form-box > form > div > span {
        display: none;
    }

    .form-box > form > div > div > *:first-child {
        width: 90%;
        padding: 0.5rem;
    }

    .form-box > form > div:nth-of-type(54) > div > *:first-child {
        padding: 5rem 0.5rem;
    }

    .form-box > form > div > div {
        margin-bottom: 3px;
    }
}

/*list-3 끝*/

/*list-4 시작*/

@media (max-width:700px) {
    .cell-xs-1-2 {
        display: none;
    }
}

/*list-4 끝*/

/*list-5 시작*/

.list-5 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.list-5 > div:nth-of-type(1) {
    padding: 3% 1.5%;
}

.list-5 > div {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.list-5 > .contect {
    padding-bottom: 3%;
}

.list-5 > .contect > ul {
    width: 55%;
    border-top: 1px solid #fff;
    margin: 0 auto;
}

.list-5 > .contect > ul > li {
    display: inline-block;
    padding: 10px;
}

@media (max-width:700px) {
    .list-5 > div:nth-of-type(1) {
        padding: 5% 3%;
    }
}

@media (max-width:400px) {
    .list-5 > div:nth-of-type(1) {
        padding: 10% 2%;
    }
}

/*list-5 끝*/
